html
{
    width: 1337px;
    display: block;
    background-color: rgb(250, 244, 237);
    position: absolute;
}

header
{
    background-color: #F4F4F4;
    position: relative;
    width: 1315px;
    height: fit-content;
    display: flex;
    margin-top: 38px;
    margin-left: 2px;
}

main
{
    position: inherit;
    margin-left: 2px;
    height: 2400px;
}

nav
{
    margin-top: -38px;
    position:fixed;
    width: 1315px;
    height: 38px;
    margin-left: -2px;
    background-color: #dedede;
    display:flex;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
}

ul
{
    margin-top: 10;
    width: 1212px;
    height: 38px;
}

ul il 
{
    width: 330px;
    height: 48px;
    font-family:'Segoe UI';
    font-size: 28px;
    margin-left: 148px;
}

p
{
    padding: 10px;
}

h2
{
    align-items: center;
    text-align: center;
}

.IMG_Collumn
{
    width: 610px;
    padding: 15px;
}

.Titulos
{
    font-family:'Trebuchet MS';
    text-align: center;
    text-overflow: ellipsis;
}

.Collumn_IZQ
{
    width: 642px;

}

.Collumn_DER
{
    width: 642px;
    margin-left: 24px;
}

.Circles_Collumn
{
    width: 320px;
    height: 320px;
    border-radius: 100%;
}

#Logo_Farm_To_Cell
{
    width: 90px;
    height: 80px;
    border-radius: 100%;
    margin-right: 10px;
}

#Logo_Text
{
    font-size:larger;
    margin-left: 15px;
}

#Text_Company
{
    width: 1000px;
    text-overflow: clip;
    display: flex;
    justify-content: center; 
    align-items: center
}

.Collumns
{   
    display: flex;
}

#ASIDE
{
    height: 38px;
    width: 60px;
}

#Company_Info
{
    display: flex;
}
