html
{
    background-color: #fae04e;
}

main
{
    height: max-content;
}

header 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px; 
    background-image: linear-gradient(to right, rgb(229, 255, 0), #03e08b);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    overflow: hidden;
}

.logo 
{
    width: 50px;
    height: 50px;
}
  
.logo img
{
    width: 52px;
}

.footer-img 
{
    width: 50px;
    height: auto;
    margin-right: 30px;
}

footer 
{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px; /* Ajusta según tu preferencia */
    background-image: linear-gradient(to right, rgb(229, 255, 0), #03e08b);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    overflow: hidden;
}

#Firts_Paragraft
{
    margin-top: 60px;
    display: flex;
    background-color: #f1ff5b;
    padding: 20px;
    vertical-align: baseline;
}

#Firts_Paragraft h1
{
    text-align: center;
}

#Firts_Paragraft p
{
    background-color: rgb(235, 237, 149);
    color: rgb(0, 0, 0);
    margin: 4px;
    padding: 20px;
    text-align: center;
    text-size-adjust: inherit;
    size: 20px;
    vertical-align: baseline;
    margin-top: auto;
    margin-bottom: auto;
}

#Firts_Paragraft img
{
    margin: 6px;
    height: 275px;
    width: 300px;
    border-radius: 100%;
}

#More_Help_Paragraft
{
    background-color: #f1ff5b;
    display: flex;
    padding: 4px;
}

#More_Help_Paragraft p
{
    margin: 5px;
    height: fit-content;
    padding: 2px;
}

#More_Help_Paragraft button
{
    align-items: center;
    text-align: center;
}

#More_Help_Paragraft div
{
    background-color: rgb(235, 237, 149);
    align-items: center;
    text-align: center;
    margin: 2px;
    border-radius: 10%;
    padding: 15px;
}