<!DOCTYPE html>
<html>
<head>
    
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <title>
       Farm To Cell [Agrohelp]
    </title>
    
    <link rel='stylesheet' type='text/css' media='screen' href='CSS/Info_Extra.css'>

</head>

<body>
    
    <header>

        <img id="Logo_Farm_To_Cell" src="IMG/Logo.jpg">  <h1 class="Titulos" id="Logo_Text">Farm To<br>Cell</h1>
        <nav>
            <button id="ASIDE"> <img src=""> Aside </button> 
            <ul>
                <il><a href=""> Productos </a></il>
                <il><a href=""> AgroAyuda </a></il> 
                <il><a href=""> Contacto </a></il> 
                <il><a href=""> Extras </a></il> 
            </ul>
        </nav>


    </header>

    <main>

        <div class="Collumns"> 

            <article class="Collumn_IZQ">
                <img class="IMG_Collumn" src="IMG/Entidad_Foto.jpg">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a risus quis lorem consequat dictum. Duis elementum venenatis diam et congue. Curabitur in lacus sagittis, suscipit erat maximus, blandit nisi. Nullam id blandit enim. Sed vel felis blandit, imperdiet ex non, sodales orci. Aliquam sed fermentum massa. Etiam efficitur eros quis augue ultrices, vel dictum dolor pretium. Quisque pellentesque urna vulputate turpis imperdiet elementum. Aliquam iaculis ultricies libero in ultrices. Nulla id tellus non ex dignissim scelerisque ut at eros. Curabitur bibendum, dui at aliquam rutrum, diam massa molestie nibh, quis laoreet nisi enim et nisi. Donec molestie nulla eu interdum ornare.  </p>

            </article>

            <article class="Collumn_DER">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a risus quis lorem consequat dictum. Duis elementum venenatis diam et congue. Curabitur in lacus sagittis, suscipit erat maximus, blandit nisi. Nullam id blandit enim. Sed vel felis blandit, imperdiet ex non, sodales orci. Aliquam sed fermentum massa. Etiam efficitur eros quis augue ultrices, vel dictum dolor pretium. Quisque pellentesque urna vulputate turpis imperdiet elementum. Aliquam iaculis ultricies libero in ultrices. Nulla id tellus non ex dignissim scelerisque ut at eros. Curabitur bibendum, dui at aliquam rutrum, diam massa molestie nibh, quis laoreet nisi enim et nisi. Donec molestie nulla eu interdum ornare.  </p>
                <img class="IMG_Collumn" src="IMG/Entidad_Foto_V2.jpg">

            </article>

        </div>

        <article id="Company_Info">

            <img class="Circles_Collumn" src="IMG/Company.jpg" alt="Compañia_IMG_Temporal">
            <p id="Text_Company"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a risus quis lorem consequat dictum. Duis elementum venenatis diam et congue. Curabitur in lacus sagittis, suscipit erat maximus, blandit nisi. Nullam id blandit enim. Sed vel felis blandit, imperdiet ex non, sodales orci. Aliquam sed fermentum massa. Etiam efficitur eros quis augue ultrices, vel dictum dolor pretium. Quisque pellentesque urna vulputate turpis imperdiet elementum. Aliquam iaculis ultricies libero in ultrices. Nulla id tellus non ex dignissim scelerisque ut at eros. Curabitur bibendum, dui at aliquam rutrum, diam massa molestie nibh, quis laoreet nisi enim et nisi. Donec molestie nulla eu interdum ornare.  </p>

        </article>

        <article>

            <h2> Alienzas </h2>

            <img class="Circles_Collumn" src="IMG/Cultivando_Ideas.jpg" alt="Circulo_1">
            <img class="Circles_Collumn" src="IMG/FORMACION-EMPRENDEDORES.jpg" alt="Circulo_2">
            <img class="Circles_Collumn" src="IMG/Hombre-Negocios.jpg" alt="Circulo_3">
            <img class="Circles_Collumn" src="IMG/Innovacio.jpeg" alt="Circulo_4">

        </article>

    </main>

</body>
</html>